@(group: models.Group, collectionId: Option[String], redirect: Call, selected: Boolean)(implicit  flash: play.api.mvc.Flash, user: Option[models.User])
@import api.Permission

<div class = "panel panel-default dataset-panel" id="@group.id-listitem">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                    <a href="@routes.Groups.getGroup(group.id)">
                        <span class="bigicon glyphicon glyphicon-briefcase"></span>
                    </a>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="h2"><a href="@(routes.Groups.getGroup(group.id))">@Html(group.name)</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 abstractsummary">@Html(group.description.replace("\n","<br>"))</div>
                        </div>
                        <div class="row top-padding">
                            <div class="col-xs-12">
                                @Messages("owner.label"): <a href= "@routes.Profile.viewProfileUUID(group.creator)"> @group.creator.stringify </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">Created on @group.created.format("MMM dd, yyyy")</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

