@(group : models.Group, classes: String, route: Call)(implicit user: Option[models.User])
@import _root_.util.Formatters.ellipsize
@import api.Permission
@import play.api.i18n.Messages

<div class="post-box @classes" id="@group.id-tile">
    <div class="panel panel-default group-panel">
        <div class="panel-body">
          <div class="caption break-word">
            <h4 class="no-overflow oneline"><a href="@routes.Groups.getGroup(group.id)">@group.name</a></h4>
            <p class = 'abstractsummary'>@Html(group.description.replace("\n","<br>"))</p>
          </div>
        </div>
            <!-- Group Info -->
        <ul class="list-group">
            <li class="list-group-item space-panel-footer">
                <span class="glyphicon glyphicon-user" title="@group.userCount users"></span> @group.userCount

                @if(user.isDefined) {
                    <!--If user can delete, the button is enabled, otherwise the button is present but disabled to provide consistent UE.-->
                    @if(true){
                        <button onclick="confirmDeleteResource('group','@Messages("group.title")','@(group.id)','@(group.name.replace("'","&#39;"))',false, '@route')" class="btn btn-link" title="Delete the @Messages("group.title")">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    } else {
                        <div class="inline" title="Not enough permission to delete the @Messages("group.title")">
                            <button disabled class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    }
                }
            </li>
        </ul>
    </div>
</div>