@(collectionsList: List[models.Collection], prev: String, next: String, limit: Int, mode: Option[String], space: Option[String], spaceName: Option[String], title: Option[String], owner:Option[String], ownerName: Option[String], when: String, date: String, showTrash : Boolean = false)(implicit flash: play.api.mvc.Flash,  user: Option[models.User])
@import api.Permission
@main( Messages("collections.title")) {
    @views.html.collections.list(collectionsList, prev, next, limit, mode, space, spaceName, title, owner, ownerName, when, date, showTrash)
}
