@(spacesList: List[models.ProjectSpace], when: String, date: String, limit: Int, owner: Option[String], ownerName: Option[String], showAll: Boolean, mode: Option[String], prev: String, next: String, title: Option[String], showPublic: Boolean, onlyTrial: Boolean)(implicit user: Option[models.User])
@import play.api.i18n.Messages
@main(Messages("spaces.title")) {
    @views.html.spaces.list(spacesList, when, date, limit, owner, ownerName, showAll, mode, prev, next, title, showPublic, onlyTrial)
}
